<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<!-- Data Source for Blog Post Listing -->
				<item name="tigrenblog_listing_data_source" xsi:type="string">
					Tigren\Blog\Model\Blog\ResourceModel\Post\Grid\Collection
				</item>
				<!-- Data Source for Blog Category Listing -->
				<item name="tigrencate_listing_data_source" xsi:type="string">
					Tigren\Blog\Model\Cate\ResourceModel\Cate\Grid\Collection
				</item>
				<item name="category_data_source" xsi:type="object">
					Tigren\Blog\Model\Cate\DataProvider
				</item>
			</argument>
		</arguments>
	</type>
	<!-- Definition for Blog Post Grid Collection -->
	<virtualType name="Tigren\Blog\Model\Blog\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<!-- Table name for Blog Post -->
			<argument name="mainTable" xsi:type="string">
				tigren_blog_post
			</argument>
			<!-- Resource model name for Blog Post -->
			<argument name="resourceModel" xsi:type="string">
				Tigren\Blog\Model\Blog\ResourceModel\Post
			</argument>
		</arguments>
	</virtualType>
	<!-- Definition for Blog Category Grid Collection -->
	<virtualType name="Tigren\Blog\Model\Cate\ResourceModel\Cate\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<!-- Table name for Blog Category -->
			<argument name="mainTable" xsi:type="string">
				tigren_blog_cate
			</argument>
			<!-- Resource model name for Blog Category -->
			<argument name="resourceModel" xsi:type="string">
				Tigren\Blog\Model\Cate\ResourceModel\Cate
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="Tigren\Blog\ImageUpload" type="Magento\Catalog\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">
				tigrenblog/tmp/images
			</argument>
			<argument name="basePath" xsi:type="string">
				tigrenblog/images
			</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">
					jpg
				</item>
				<item name="jpeg" xsi:type="string">
					jpeg
				</item>
				<item name="gif" xsi:type="string">
					gif
				</item>
				<item name="png" xsi:type="string">
					png
				</item>
			</argument>
			<argument name="allowedMimeTypes" xsi:type="array">
				<item name="jpg" xsi:type="string">
					image/jpg
				</item>
				<item name="jpeg" xsi:type="string">
					image/jpeg
				</item>
				<item name="gif" xsi:type="string">
					image/gif
				</item>
				<item name="png" xsi:type="string">
					image/png
				</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="Tigren\Blog\Controller\Adminhtml\Upload\Upload">
		<arguments>
			<argument name="imageUploader" xsi:type="object">
				Tigren\Blog\ImageUpload
			</argument>
		</arguments>
	</type>
</config>
