<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tigren_Question::customblog" title="Question Tigren" module="Tigren_Question" sortOrder="51" resource="Tigren_Question::customblog"/>
        <add id="Tigren_Question::post" title="Manage Question" module="Tigren_Question" sortOrder="10" action="tigrenquestion/post" resource="Tigren_Question::post" parent="Tigren_Question::customblog"/>
    </menu>
</config>